@media (max-width: 857px) {
  .span-width {
    width: 100% !important;
    display: flex;
    align-items: center;
  }
  .span-width .fa-bars {
    display: inline-block;
  }
  .light--small--text {
    width: 100%;
  }
  .none {
    display: none;
  }
  .top-nav-items {
    position: fixed;
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: start !important;
    width: 60%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  }
  .close {
    display: flex;
  }
  .close-icon {
    display: block;
    width: 100%;
    text-align: end;
    font-size: 24px;
    color: #2a254b;
  }
  .top-nav-items ul {
    flex-direction: column;
  }
  .second-list {
    display: flex !important;
    flex-direction: column;
  }
}
@media (max-width: 1121px) {
  .page-hereo {
    gap: 16px;
    justify-content: space-between;
  }
}
@media (max-width: 998px) {
  .notification-bar {
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 959px) {
  .page-hereo {
    flex-direction: column;
    gap: 40px;
  }
  .features-block {
    flex-direction: column;
    padding: 24px;
  }
  .service {
    flex-direction: column;
  }
  .top-footer {
    flex-wrap: wrap;
  }
  #footer {
    padding: 40px 24px;
  }
  .footer-list .none {
    display: none;
  }
}
@media (max-width: 681px) {
  .feature-card {
    width: 100%;
  }
}
@media (max-width: 443px) {
  .top-nav-items {
    width: 100%;
    background-color: #fff;
  }
}

@media (max-width: 651px) {
  .signup-input input {
    width: 222px;
  }
  .email-container {
    padding: 0;
  }
}