:root {
  --primary-color: #726e8d;
  --dark-primary: #2a254b;
  --primary-button: #4e4d93;
  --secondary-color: #5b5676;
  --almost-black: #22202e;
  --grey: #f9f9f9;
  --purple: #2a254b;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  display: block;
}
a {
  cursor: pointer;
  text-decoration: none;
}
button {
  cursor: pointer;
}
i {
  cursor: pointer;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.cursor {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  border: 2px solid #c6c6c6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
.cursor2 {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  background-color: #c6c6c6;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  /* transition: 0.15s; */
}

.notification-bar {
  height: 41px;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  background-color: var(--purple);
  position: relative;
}
.close-alert {
  position: absolute;
  right: 0;
  font-size: 18px;
  margin-right: 9px;
}
.close {
  display: none;
}
.close-menu {
  font-size: 24px;
  display: none;
}
.open-menu {
  display: none;
}
.navigation-bar {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
}
.navigate-home {
  background-color: var(--primary-button);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: #fff;
  padding: 18px;
  position: sticky;
  float: right;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  top: 40%;
  z-index: 1;
}
.fa-rocket {
  font-size: 20px;
  transform: rotate(310deg);
}
.brand {
  font-size: 24px;
  color: var(--dark-primary);
}
.brand a {
  text-decoration: none;
  color: var(--dark-primary) !important;
}
.navigation-bar img {
  cursor: pointer;
}
.navigation-bar ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 44px;
}
.navigation-bar ul li a {
  color: var(--primary-color);
  text-decoration: none;
}
.navigation-bar ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: black;
  display: block;
  margin-top: 5px;
  transition: 0.5s;
}
.navigation-bar ul li a:hover::after {
  width: 100%;
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-icons div {
  width: 24px;
}

/* hereo */
.hereo-section {
  display: flex;
  gap: 65px;
  height: 758px;
  background-color: var(--grey);
  width: 100%;
  padding: 50px 80px;
}
.left-hereo {
  width: 100%;
  height: 100%;
}
.right-hereo {
  width: 100%;
  color: var(--dark-primary) !important;
  height: 100%;
  margin-top: 31px;
}
.left-hereo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* product */
.product-title {
  font-size: 36px;
  color: var(--dark-primary);
}
.price {
  margin-top: 16px;
  font-size: 24px;
  color: var(--dark-primary);
}
.hr {
  background-color: #ebe8f4;
  height: 1px !important;
  margin-top: 34px;
  margin-bottom: 24px;
}
.product-description {
  margin-bottom: 14px;
  font-size: 15px;
}
.description {
  margin-bottom: 27px;
}

.dimension-text {
  margin-bottom: 24px;
  line-height: 1.9;
}
.units {
  display: flex;
  gap: 48px;
  align-items: center;
}
.unit1 {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.dimensions hr {
  height: 100%;
  width: 0%;
}
.divider {
  height: 44px;
  width: 1.4px;
  background-color: #ebe8f4;
}
.quantity-count {
  margin-top: 12px;
  display: flex;
  padding: 12px 16px;
  background-color: white;
  width: 122px;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
.quantity-count button {
  background-color: transparent;
  color: #ebe8f4;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
.quantity-container {
  margin-top: 45px;
}
.button-displays {
  display: flex;
  align-items: center;
  margin-top: 52px;
  gap: 1rem;
}
.button-displays button {
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.button-displays .add {
  background-color: var(--purple);
  color: #fff;
}
.button-displays .add:hover {
  background-color: var(--primary-button);
}
.button-displays .save {
  background-color: white;
}
.button-displays .save:hover {
  background-color: #f0f0f0;
}
@media (max-width: 1011px) {
  .hereo-section {
    padding: 50px 20px;
  }
}
@media (max-width: 891px) {
  .hereo-section {
    flex-wrap: wrap;
    padding: 0;
    height: auto;
  }
  .right-hereo {
    padding: 28px 24px;
  }
}

.product-container {
  padding: 64px 80px;
}
.items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--dark-primary);
  /* flex-wrap: wrap; */
}

.item-img {
  overflow: hidden;
  width: 100%;
  height: 375px;
}
.item-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.item-img1 {
  width: 100%;
  height: 375px;
  overflow: hidden;
}
.item-img1 img:hover {
  transform: scale(1.1);
}
.item-img img:hover {
  transform: scale(1.1);
}
.product-txt {
  margin-bottom: 25px;
  text-align: start;
  width: 100%;
  font-size: 32px;
}
.second-products {
  display: flex;
  gap: 20px;
}
.item-description {
  margin-top: 24px;
  font-size: 20px;
}
.item-price {
  font-size: 18px;
  margin-top: 8px;
}
.collection-veiw {
  text-align: center;
  padding: 16px 32px;
  border: none;
  background-color: #f0f0f0;
}
.collection-veiw a {
  text-decoration: none;
  color: var(--dark-primary);
  font-size: 17px;
}
.collection-veiw a:hover {
  text-decoration: underline;
}

/* feature */
.feature-section {
  width: 100%;
  padding-bottom: 82px !important;
  padding: 24px;
}

.feature-head-text {
  font-size: 1.5rem;
  color: var(--dark-primary);
  text-align: center;
  margin: 80px 0 36px 0;
}
.bold-text {
  font-size: 1.25rem;
  margin-top: 12px;
  color: var(--dark-primary);
}
.feature-card-text {
  font-size: 1rem;
  color: var(--dark-primary);
  width: 209px;
  margin-top: 12px;
}
.feature-card {
  padding: 48px;
  background-color: var(--grey);
  transition: 0.5s;
}
.feature-card:hover {
  transform: translateY(-15px);
}
.feature-card-icon {
  width: 24px;
}
.feature-block-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  flex-wrap: wrap;
}

/* <!-- hereo features --> */
.feature-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-input-container input {
  width: 352px;
  height: 56px;
  border: none;
  outline: none;
  text-indent: 29px;
}
.feature-input-container button {
  padding: 16px 32px;
  height: 56px;
  border: none;
  background-color: var(--purple);
  color: #fff;
}
.hereo-features {
  display: flex;
}
.img-container-features {
  width: 720px;
}
.text-feature {
  font-size: 32px;
  color: var(--dark-primary);
}
.sub-text {
  margin-top: 22px;
}
.text-side {
  padding: 70px 72px;
}
.feature-input-container {
  margin-top: 216px;
}
.feature-input-container input {
  background-color: #f9f9f9;
}

#footer {
  padding: 53px 80px 23px 80px;
  background-color: var(--purple);
  color: #fff;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#footer ul li {
  margin-top: 12px;
}
#footer ul li a {
  text-decoration: none;
  color: #fff;
}
#footer ul {
  list-style: none;
}
.top-footer {
  display: flex;
  gap: 57px;
  border-bottom: 1px solid white;
  padding-bottom: 55px;
}
.footer-list {
  display: flex;
  gap: 102px;
}
.social {
  margin-bottom: 23px;
}
.icons {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.logo {
  font-size: 36px;
}
.address {
  display: flex;
  gap: 21px;
}
